@import '../../vars.css';

.skills{
}

.title_section{
    font-size: 33px;
    display: flex;
    align-items: center;
    margin-top: var(--padding-top);
    margin-bottom: 25px;
}

.title_section span{
    font-weight: 600;
    margin-left: 5px;
}