@import '../../../vars.css';


.item{
    margin-bottom: 40px;
}

.time{
    font-size: 15px;
    color: var(--color-onSecondary);
    margin-bottom: 5px;
}

.desc{
    font-size: 22px;
    font-weight: 600;
    color: var(--color-secondary);
    margin-bottom: 5px;
}

.more_info{
    font-size: 19px;
    margin-bottom: 5px;
}